{% extends 'base.html' %}
{% load static %} <!-- ../appMy/static/ '' -->

{% block css %}
<style>
   @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

   .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      padding: 20px;
      width: 100%;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border-radius: 6px;
      -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
   }

   .comment-box {
      padding: 5px;
   }

   .comment-area textarea {
      resize: none;
      border: 1px solid #ad9f9f;
   }

   .form-control:focus {
      color: #495057;
      background-color: #fff;
      border-color: #ffffff;
      outline: 0;
      box-shadow: 0 0 0 1px rgb(255, 0, 0) !important;
   }

   .send {
      color: #fff;
      background-color: #ff0000;
      border-color: #ff0000;
   }

   .send:hover {
      color: #fff;
      background-color: #f50202;
      border-color: #f50202;
   }

   .rating {
      display: flex;
      margin-top: -10px;
      flex-direction: row-reverse;
      margin-left: -4px;
      float: left;
   }

   .rating>input {
      display: none
   }

   .rating>label {
      position: relative;
      width: 24px;
      height: 42px;
      font-size: 32px;
      color: #ff0000;
      cursor: pointer;
   }

   .rating>label::before {
      content: "\2605";
      position: absolute;
      opacity: 0
   }

   .rating>label:hover:before,
   .rating>label:hover~label:before {
      opacity: 1 !important
   }

   .rating>input:checked~label:before {
      opacity: 1
   }

   .rating:hover>input:checked~label:before {
      opacity: 0.4
   }
</style>
{% endblock css %}

{% block main %}
<main class="container my-4">
   
   <div class="card">
      <img style="width: 100%; height: 400px; object-fit: contain;" src="{{ product.image.url }}" class="card-img-top"
         alt="Fissure in Sandstone" />
      <div class="card-body">
         <h5 class="card-title">
            {{ product.title }} / puan: {{ product.rating_total }}
            
            {% for i in '12345' %}
               
               {% if product.rating_total >= i|add:0 %}
               <i class="fas fa-star fa-sm text-warning"></i>
               
               {% elif product.rating_total > i|add:-1 %}
               <i class="fas fa-star-half-alt fa-sm text-warning"></i>
               
               {% else %}
               <i class="far fa-star fa-sm text-warning"></i>
                  
               {% endif %}
            {% endfor %}
         </h5>
         <p class="card-text">{{ product.text }}</p>
         <p class="btn fs-2">Fiyat: {{ product.price }}</p>
         <p class="btn fs-3">Stok: {{ product.stok }}</p>
         <p class="text-muted">{{ product.date_now }}</p>
         <a href="#!" class="text-muted">TARİH</a>
         <form class="d-flex mt-3" method="POST" action="">
            {% csrf_token %}
            <label class="d-flex align-items-center" for="">Adet:
               <input class="form-control form-control-sm m-2" type="number" value="1" min="1" max="{{ product.stok }}" name="piece" id="" style="width: 100px;">
            </label>
            <button class="btn btn-success" name="submit" value="shopForm" type="submit" >Sepete Ekle</button>
         </form>
      </div>
   </div>
   <div class="card">
      <!-- Yorumlar -->
      
      {% for i in comments %}
      <div class="row border p-3 rounded-5 my-2">
         <div style="width: 100px;">
            <img src="{{ i.user.img.url }}" width="70" height="70" style="object-fit: cover;" class="rounded-circle mt-2">
         </div>
         <div class="col">
            <h5>{{ i.user.user.username }}</h5>
            <div class="comment-box ml-2">
               <div>
                  
                  {% for j in "12345" %}
                     
                     {% if i.rating >= j|add:0 %}
                     <i class="fas fa-star fa-sm text-warning"></i>
                     {% else %}
                     <i class="far fa-star fa-sm text-warning"></i>
                     {% endif %}
                        
                  {% endfor %}
                     
               </div>
               <div class="comment-area">
                  <p>{{ i.text }}</p>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
         
      <hr>
      <!-- Yorum Yap -->
      <div class="row">
         <div style="width: 100px;">
            <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2">
         </div>
         <div class="col">
            <h4>Yorum Yap</h4>
            <form method="POST" class="comment-box ml-2">
               {% csrf_token %}
               <div class="rating">
                  <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                  <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                  <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                  <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                  <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
               </div>
               <div class="comment-area">
                  <textarea class="form-control" name="text" placeholder="what is your view?" rows="4"></textarea>
               </div>
               <div class="comment-btns mt-2">
                  <div class="row">
                     <div class="col-6">
                        <div class="pull-left">
                           <button name="submit" value="commentForm" {% if request.user.is_authenticated and boolcom %}type="submit"{% else %}type="button" data-mdb-toggle="modal" data-mdb-target="#commitlogin"{% endif %} class="btn btn-success btn-sm" >Yorumu Paylaş</button>
                           <!-- Modal -->
                           <div class="modal fade" id="commitlogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       
                                       {% if boolcom %}
                                       <h5 class="modal-title" id="exampleModalLabel">Yorum yapmak için <a href="/login">giriş yap.</a></h5>
                                       {% else %}
                                       <h5 class="modal-title" id="exampleModalLabel">Yalnızca bir yorum yapabilirsiniz</a></h5>
                                       {% endif %}
                                          
                                       <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                   
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>

</main>
{% endblock main %}
   

