{% extends 'base.html' %}
{% load static %}

{% block main %}
<main>
   <!-- Carousel wrapper -->
   <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-indicators">
         <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
         <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
         <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
      </div>
   
      <!-- Inner -->
      <div class="carousel-inner">
         <!-- Single item -->
         <div class="carousel-item active">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100"
               alt="Sunset Over the City" />
            <div class="carousel-caption d-none d-md-block">
               <h5>First slide label</h5>
               <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
         </div>
   
         <!-- Single item -->
         <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
               alt="Canyon at Nigh" />
            <div class="carousel-caption d-none d-md-block">
               <h5>Second slide label</h5>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
         </div>
   
         <!-- Single item -->
         <div class="carousel-item">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
               alt="Cliff Above a Stormy Sea" />
            <div class="carousel-caption d-none d-md-block">
               <h5>Third slide label</h5>
               <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
         </div>
      </div>
      <!-- Inner -->
   
      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
      </button>
   </div>
   <!-- Carousel wrapper -->
   <hr>
   <div class="row">
      <ol>
         <li>form methodu post yada get</li>
         <li>post ise csrf token</li>
         <li>inputlarda name</li>
         <li>buttonda submit</li>
      </ol>
      
      <div class="col-9">
         <!-- SIRALAMA -->
         <div class="d-flex justify-content-start m-3">
            <form class="d-flex gap-2" method="GET">
               <select class="form-select" name="filter" id="">
                  <option value="1">Düşük Fiyattan Sırala</option>
                  <option value="2">Yüksek Fiyattan Sırala</option>
                  <option value="3">Yeni Ürünler</option>
                  <option value="4">A'dan Z'ye sırala</option>
                  <option value="5">Z'den A'ya sırala</option>
               </select>
               <button class="btn" type="submit">Sırala</button>
            </form>
            <a href="/col/12" class="btn">1</a>
            <a href="/col/6" class="btn">2</a>
            <a href="/col/4" class="btn">3</a>
            <a href="/col/3" class="btn">4</a>
            <a href="/col/2" class="btn">6</a>
         </div>
      </div>
      <hr>
      <div class="col-9 row g-3 mt-0">
         <h3 class="mt-0 ms-3">Tüm Ürünler</h3>
         <!-- CARDS -->
         {% for i in products %}
         <div class="col-{{ col }}">
            <div class="card">
               <img style="width: 100%; height: 300px; object-fit: contain;" src="{{ i.image.url }}" class="card-img-top"
                  alt="Fissure in Sandstone" />
               <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="card-text">{{ i.text|truncatechars:50 }}</p>
                  <p class="fw-bold fs-2"><del class="text-muted fs-4">₺{{ i.price|add:500 }}</del> ₺{{ i.price }}</p>
                  <a href="/detay/{{ i.id }}" class="btn btn-primary">Detay</a>
               </div>
            </div>
         </div>
         {% endfor %}
            
      </div>
      <div class="col">
         <h3 style="padding: 0px 0px 0px 0px;">Kategoriler</h3>
         <ol class="list-group list-group-light list-group-numbered">
            
            {% for i in category_count %}
            <!-- <a href=""> -->
            <form method="GET">
               <button class="btn w-100" type="submit" name="submit" value="{{ i.category__slug }}">
                  <li class="list-group-item border-0 d-flex justify-content-between align-items-start">
                     <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ i.category__title }}</div>
                     </div>
                     <span class="badge badge-primary rounded-pill">{{ i.product }}</span>
                  </li>
               </button>
            </form>
            <!-- </a> -->
            {% endfor %}
               
         </ol>
      </div>
   </div>

</main>
{% endblock main %}
   


  